@import url(https://fonts.googleapis.com/css2?family=League+Spartan);
@import url(https://fonts.googleapis.com/css2?family=Assistant);
.text {
    font-family: 'Times New Roman', Times, serif;
}
.CButton {
    background-color:blue; 
    width: 50px;
    font-size: 20px; 
    border-radius: 12px; 
    height: 50px; 
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}
.button {
    cursor: pointer;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #f3722c;
    border-radius: 12px;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.button2 {
    cursor: pointer;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #f3722c;
    border-radius: 12px;
    text-align: center;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}
.Input {
    background-color: transparent;
    border-color: transparent; color: white;
    text-align: center; font-size: 40px;
    width: 342.8px;
    height: 55.8px; 
    border-radius: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.sidebar {
	background-color: gray/*rgb(20, 20, 20)*/;
	height: 20px;
	width: var(--sidebar-width);
	position: fixed;
	/*padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 12px*/
    width: auto;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
}
.sidebar a{
	text-decoration: none;
	/*font-size: 12px;*/
    font-family: 'Times New Roman', Times, serif;
}
.sidebar p {
	padding: 5px;
	text-align: center;
	margin: 0px;
	font-family: monospace;
	font-weight: 900;
	font-size: 17px; /*14px;*/
    font-family: 'Times New Roman', Times, serif;
}
.sidebar a div{
	color: black/*white*/;
	padding: 5px;
	padding-left: 15px;
	/*margin-left:10px;*/
	transition: 0.2s;
	font-family: 'Times New Roman', Times, serif;
}
.sidebar a div:hover {
	background-color: rgba(0,0,0,0.1)
}
.topbar {
    background-color: cadetblue;
    overflow: hidden;
    width: 700px;
    height: 70.4px;
    border-radius: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.sidebarR {
    height: 100%;
    float: right;
    top: 0;
    padding-top: 40px;
    background-color: lightblue;
    font-family: 'Times New Roman', Times, serif;
}
.sidebarR {
    padding: 8px;
    font-size: 24px;
    display: block;
    font-family: 'Times New Roman', Times, serif;
}
.body-text {
    margin-left: 150px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
p {
    font-family: 'Times New Roman', Times, serif;
}
h1 {
    font-family: 'Times New Roman', Times, serif;
}